
.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 8px;
    padding: 16px;
  }
  
  .input {
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 48px;
    color: #333;
  }
  
  .result {
    grid-column: 1 / span 4;
    grid-row: 3;
    display:grid;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 32px;
    font-weight: bold;
    color: #000000;
  }
  
  button {
    grid-row: auto;
    font-size: 24px;
    padding: 8px;
    border: none;
    border-radius: 20px;
    color: #333;
    background-color: #c4ccff;
    cursor: pointer;
    user-select: none;
  }
  
  button:active {
    background-color: #4920ff;
    color: #ffffff;
  }
  
  .operator {
    color: #fff;
    background-color: rgb(50, 41, 177);
  }
  
  .operator:active {
    background-color: rgb(21, 5, 90);
  }
  
  button[data-value="clear"] {
    grid-row: 7 / span 2;
    grid-column: 3;
  }
  
  button[data-value="="] {
    grid-column: 1 / span 2;
  }
  
  
  button[data-value="clear"] {
    background-color: #999;
  }
  
  button[data-value="clear"]:active {
    background-color: #666;
  }
  
  button[data-value="delete"] {
    color: #fff;
  }
  
  button[data-value="delete"]:active {
    color: #fff;
  }
  