.contador {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
  }
  
  .contador label {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .contador-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contador input {
    font-size: 2rem;
    padding: 0.5rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 0.5rem;
    width: 4rem;
    text-align: center;
  }
  
  .contador-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    margin-right: 5px;
  }
  
  .contador-button-increment,
  .contador-button-decrement {
    font-size: 2rem;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    margin: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .contador-button-increment {
    background-color: green;
    width: 40%;
  }
  
  .contador-button-decrement {
    background-color: red;
    width: 100%;
  }
  
  .contador-button-increment:hover {
    background-color: #006400;
  }
  
  .contador-button-decrement:hover {
    background-color: #8b0000;
  }

  .contador-genero {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
  }
  
  .contador-genero-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    font-size: 2rem;
  }
  
  .contador-genero-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
  }
  
  .contador-genero-icon {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-bottom: 0.5rem;
  }
  
  .homem-icon {
    background-image: url("img/homem.png");
    background-size: cover;
    background-color: #2196f3;
  }
  
  .mulher-icon {
    background-image: url("img/mulher.png");
    background-size: cover;
    background-color: #f44336;
    
  }
  
  .contador-genero-titulo {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  #contador-total-input {
    font-size: 2rem;
    padding: 0.5rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 8rem;
    text-align: center;
  }
  